<h1>Shop#index</h1>
<p>There are <%= @user_count %> users.</p>
<select name="userid">
  <% @users.each do |user| %>
    <option value="<%= user.id %>"><%= user.username %></option>
  <% end %>
</select>
<p>There are <%= @item_count %> items.</p>
<h2>Items</h2>
<div class="list-group">
<% @items.each do |item| %>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">
      <%= "#{item.name}" %>
    </h4>
    <p class="list-group-item-text"><%= "$#{item.price}/ea. #{item.quantity} in stock." %></p>
		<div class="pull-right">
			<input type="text" value="0" />
			<a class="plus" href="#">+</a>
			<a class="minus" href="#">-</a>
		</div>
	</a>
<% end %>
</div>
