<div class="container">
  <h1>Zuul</h1>
  <p>There are <%= @user_count %> users.</p>
  <select name="userid">
    <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.irchandle.nil? ? user.username : user.irchandle %></option>
    <% end %>
  </select>
  <p>There are <%= @item_count %> items.</p>
  <h2>Items</h2>
  <ul class="list-group">
    <% @items.each do |item| %>
    <li class="list-group-item">
      <h4 class="list-group-item-heading"><%= item.name %></h4>
      <span class="pull-right">
        <span class="price">$<span class="price-num"><%= item.price %></span> each</span>
	<span class="stock"><%= item.quantity %> in stock</span>
      </span>
      <div class="input-group">
        <input type="text" class="form-control" value="0" />
        <div class="input-group-btn">
          <button class="btn btn-default plus" title="Add one"><span class="glyphicon glyphicon-plus"></span></a>
          <button class="btn btn-default minus" title="Remove one"><span class="glyphicon glyphicon-minus"></span></a>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>
