<div class="container">
  <h1>Zuul</h1>
  <p>There are <%= @user_count %> users.</p>
  <select name="userid">
    <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.irchandle.nil? ? user.username : user.irchandle %></option>
    <% end %>
  </select>
  <p>There are <%= @item_count %> items.</p>
  <h2>Items</h2>
  <table id="items" class="table table-striped">
    <thead>
      <tr>
        <th></th>
	<th colspan="2">Price</th>
	<th>Quantity</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td class="price">$<span class="price-num"><%= item.price %></span> each</td>
      <td class="stock"><%= item.quantity %> in stock</td>
      <td class="fit-to-content">
        <span class="quantity">0</span>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default plus" title="Add one"><span class="glyphicon glyphicon-plus"></span></a>
          <button class="btn btn-sm btn-default minus" title="Remove one"><span class="glyphicon glyphicon-minus"></span></a>
        </div>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
