<h1>Shop#index</h1>
<p>There are <%= @user_count %> users.</p>
<select name="userid">
  <% @users.each do |user| %>
    <option value="<%= user.id %>"><%= user.irchandle.nil? user.username : user.irchandle %></option>
  <% end %>
</select>
<p>There are <%= @item_count %> items.</p>
<h2>Items</h2>
<div class="list-group">
  <% @items.each do |item| %>
  <h4 class="list-group-item-heading">
    <%= "#{item.name}" %>
  </h4>
  <p class="list-group-item-text">
    <%= "$#{item.price}/ea." %>
    <span class="left"><%= "#{item.quantity}" %></span> in stock.
  </p>
  <input type="text" value="0" />
  <a class="add" href="#"><span class="glyphicon glyphicon-plus"></span></a>
  <a class="minus" href="#"><span class="glyphicon glyphicon-minus"></span></a>
<% end %>
</div>
