<div class="container">
	<h1><%= @user.username %>'s Account details</h1>
	<table class="table">
		<tr>
			<td>MCECS username:</td>
			<td><%= @user.username %></td>
		</tr>
		<tr>
			<td>IRC handle:</td>
			<td><%= @user.irchandle %></td>
		</tr>
		<tr>
			<td>Account Type:</td>
			<td><%= (@user.admin ? 'Admin' : 'Consumer') %></td>
		</tr>
		<tr <%= ((@user.balance >= 0) ? 'class=success' : 'class=danger') %>>
			<td>Balance:</td>
			<td><%= number_to_currency(@user.balance) %></td>
		</tr>
	</table>
	<h2>Last 5 transactions</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Date</th>
				<th>Time</th>
				<th>Items</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<% 
			@transactions.each do |transaction|
				#get the transaction items
				transaction_items = TransactionItem.where("transactionid = ?", transaction.id).order('itemid')
				sum = 0.0
				num_items = 0
				transaction_items.each do |item|
					sum += item.price
					num_items += item.quantity
				end
			%>
			<tr>
				<td><button class="btn btn-sm btn-default plus" title="expand"></button></td>
				<td><%= transaction.created_at %></td>
				<td><%= transaction.created_at %></td>
				<td>
					<%= num_items %> Items bought
				</td>
				<td>
				<%= number_to_currency(sum) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<a href="#">View all transactions</a>
</div>
